In [1]:
import scipy.io
import numpy as np
import pandas as pd

In [2]:
# Load MATLAB file
wiki = scipy.io.loadmat('../../Data for BARP/data/wiki.mat')

In [3]:
wiki

{'__header__': b'MATLAB 5.0 MAT-file, Platform: GLNXA64, Created on: Sat Jan 16 16:25:20 2016',
 '__version__': '1.0',
 '__globals__': [],
 'wiki': array([[(array([[723671, 703186, 711677, ..., 720620, 723893, 713846]], dtype=int32), array([[2009, 1964, 2008, ..., 2013, 2011, 2008]], dtype=uint16), array([[array(['17/10000217_1981-05-05_2009.jpg'], dtype='<U31'),
                 array(['48/10000548_1925-04-04_1964.jpg'], dtype='<U31'),
                 array(['12/100012_1948-07-03_2008.jpg'], dtype='<U29'), ...,
                 array(['09/9998109_1972-12-27_2013.jpg'], dtype='<U30'),
                 array(['00/9999400_1981-12-13_2011.jpg'], dtype='<U30'),
                 array(['80/999980_1954-06-11_2008.jpg'], dtype='<U29')]],
               dtype=object), array([[1., 1., 1., ..., 1., 1., 0.]]), array([[array(['Sami Jauhojärvi'], dtype='<U15'),
                 array(['Dettmar Cramer'], dtype='<U14'),
                 array(['Marc Okrand'], dtype='<U11'), ...,
                 array(['Michael Wiesinger'], dtype='<U17'),
                 array(['Johann Grugger'], dtype='<U14'),
                 array(['Greta Van Susteren'], dtype='<U18')]], dtype=object), array([[array([[111.29109473, 111.29109473, 252.66993082, 252.66993082]]),
                 array([[252.4833023 , 126.68165115, 354.53192596, 228.73027481]]),
                 array([[113.52, 169.84, 366.08, 422.4 ]]), ...,
                 array([[169.88839786,  74.31669472, 235.2534231 , 139.68171997]]),
                 array([[1, 1, 1, 1]], dtype=uint8),
                 array([[ 92.72633235,  62.0435549 , 230.12083087, 199.43805342]])]],
               dtype=object), array([[4.30096239, 2.6456395 , 4.32932883, ..., 3.49430317,       -inf,
                 5.48691655]]), array([[       nan, 1.94924791,        nan, ...,        nan,        nan,
                        nan]]))                                                                                                                                                                                           ]],
       dtype=[('dob', 'O'), ('photo_taken', 'O'), ('full_path', 'O'), ('gender', 'O'), ('name', 'O'), ('face_location', 'O'), ('face_score', 'O'), ('second_face_score', 'O')])}

In [4]:
import time
dob = wiki['wiki']['dob'][0][0][0]
dob[1].fromordinal()

AttributeError: 'numpy.int32' object has no attribute 'fromordinal'

In [5]:
full_path = wiki['wiki']['full_path'][0][0][0]

In [6]:
new_arr = []

# loop over each element in the array
for element in full_path:
    # split the element into two parts using the '/' character as a separator
    parts = element[0].split('/')
    # keep the second part (the part after the '/')
    new_element = parts[1]
    # append the modified element to the new array
    new_arr.append(new_element)

# convert the list to a numpy array
new_arr = np.array(new_arr)

In [7]:
full_path = new_arr

In [8]:
gender = wiki['wiki']['gender'][0][0][0]

In [9]:
dob = wiki['wiki']['dob'][0][0][0]
photo_taken = wiki['wiki']['photo_taken'][0][0][0]

In [10]:
photo_taken

array([2009, 1964, 2008, ..., 2013, 2011, 2008], dtype=uint16)

In [11]:
wiki_df = pd.DataFrame({'full_path': full_path, 'gender': gender})
wiki_df.head(-100)

                          full_path  gender
0      10000217_1981-05-05_2009.jpg     1.0
1      10000548_1925-04-04_1964.jpg     1.0
2        100012_1948-07-03_2008.jpg     1.0
3      10001965_1930-05-23_1961.jpg     1.0
4      10002116_1971-05-31_2012.jpg     0.0
...                             ...     ...
62223   5995253_1964-01-29_1960.jpg     1.0
62224   5995389_1950-11-25_1950.jpg     1.0
62225    599555_1943-07-28_1968.jpg     1.0
62226    599593_1982-05-09_2012.jpg     0.0
62227    599665_1944-04-28_2015.jpg     0.0

[62228 rows x 2 columns]

In [12]:
imdb = scipy.io.loadmat('../../Data for BARP/data/imdb.mat')

FileNotFoundError: [Errno 2] No such file or directory: '../data/imdb.mat'

In [157]:
full_path = imdb['imdb']['full_path'][0][0][0]

In [158]:
new_arr = []

# loop over each element in the array
for element in full_path:
    # split the element into two parts using the '/' character as a separator
    parts = element[0].split('/')
    # keep the second part (the part after the '/')
    new_element = parts[1]
    # append the modified element to the new array
    new_arr.append(new_element)

# convert the list to a numpy array
new_arr = np.array(new_arr)

In [159]:
full_path = new_arr

In [161]:
dob = imdb['imdb']['dob'][0][0][0]
photo_taken = imdb['imdb']['photo_taken'][0][0][0]

In [162]:
gender = imdb['imdb']['gender'][0][0][0]

In [163]:
imdb_df = pd.DataFrame({'full_path': full_path, 'gender': gender})
imdb_df.head()

                                   full_path  gender
0   nm0000001_rm124825600_1899-5-10_1968.jpg     1.0
1  nm0000001_rm3343756032_1899-5-10_1970.jpg     1.0
2   nm0000001_rm577153792_1899-5-10_1968.jpg     1.0
3   nm0000001_rm946909184_1899-5-10_1968.jpg     1.0
4   nm0000001_rm980463616_1899-5-10_1968.jpg     1.0

In [34]:
len(imdb_df)

460723

In [35]:
len(wiki_df)

62328

In [39]:
# concatenate the two dataframes
df1 = pd.concat([imdb_df, wiki_df])

# reset the index
df1 = df.reset_index(drop=True)

In [40]:
df1

                                        full_path  gender
0        nm0000001_rm124825600_1899-5-10_1968.jpg     1.0
1       nm0000001_rm3343756032_1899-5-10_1970.jpg     1.0
2        nm0000001_rm577153792_1899-5-10_1968.jpg     1.0
3        nm0000001_rm946909184_1899-5-10_1968.jpg     1.0
4        nm0000001_rm980463616_1899-5-10_1968.jpg     1.0
...                                           ...     ...
523046                9996949_1937-04-17_1963.jpg     1.0
523047                9997032_1947-07-30_1970.jpg     1.0
523048                9998109_1972-12-27_2013.jpg     1.0
523049                9999400_1981-12-13_2011.jpg     1.0
523050                 999980_1954-06-11_2008.jpg     0.0

[523051 rows x 2 columns]

In [50]:
df2 = pd.read_csv('../data/gt.csv')

# set the display option to show the full contents of the first column
pd.set_option('display.max_colwidth', None)

In [51]:
df2['label']

0       https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm1442940_rm3965098752_1996-10-3_2006.jpg
1       https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm4832920_rm1781768448_2003-8-28_2013.jpg
2        https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0652089_rm860657920_1992-3-10_2002.jpg
3       https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0004917_rm1493730304_1969-5-12_1979.jpg
4       https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm1113550_rm1332711936_1996-4-14_2006.jpg
                                                       ...
9145                   https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/475367_1941-08-03_2011.jpg
9146                   https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/304085_1919-07-07_1989.jpg
9147    https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0001627_rm4164078592_1927-2-20_1997.jpg
9148    https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000024_rm1715129344_1904-4-14_1974.jpg
9149    https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000323_rm3114703104_1933-3-14_2003.jpg
Name: label, Length: 9150, dtype: object

In [59]:
df2['full_path'] = df2['label'].apply(lambda x: x.split('/')[-1])
df2 = df2.drop(columns=['label'])

In [60]:
df2

      score                                  full_path
0        10  nm1442940_rm3965098752_1996-10-3_2006.jpg
1        10  nm4832920_rm1781768448_2003-8-28_2013.jpg
2        10   nm0652089_rm860657920_1992-3-10_2002.jpg
3        10  nm0004917_rm1493730304_1969-5-12_1979.jpg
4        10  nm1113550_rm1332711936_1996-4-14_2006.jpg
...     ...                                        ...
9145     70                 475367_1941-08-03_2011.jpg
9146     70                 304085_1919-07-07_1989.jpg
9147     70  nm0001627_rm4164078592_1927-2-20_1997.jpg
9148     70  nm0000024_rm1715129344_1904-4-14_1974.jpg
9149     70  nm0000323_rm3114703104_1933-3-14_2003.jpg

[9150 rows x 2 columns]

In [55]:
df1

                                        full_path  gender
0        nm0000001_rm124825600_1899-5-10_1968.jpg     1.0
1       nm0000001_rm3343756032_1899-5-10_1970.jpg     1.0
2        nm0000001_rm577153792_1899-5-10_1968.jpg     1.0
3        nm0000001_rm946909184_1899-5-10_1968.jpg     1.0
4        nm0000001_rm980463616_1899-5-10_1968.jpg     1.0
...                                           ...     ...
523046                9996949_1937-04-17_1963.jpg     1.0
523047                9997032_1947-07-30_1970.jpg     1.0
523048                9998109_1972-12-27_2013.jpg     1.0
523049                9999400_1981-12-13_2011.jpg     1.0
523050                 999980_1954-06-11_2008.jpg     0.0

[523051 rows x 2 columns]

In [64]:
# merge df1 and df2 on 'full_path' column
df = pd.merge(df2, df1[['full_path', 'gender']], on='full_path', how='left')

In [65]:
df

      score                                  full_path  gender
0        10  nm1442940_rm3965098752_1996-10-3_2006.jpg     0.0
1        10  nm4832920_rm1781768448_2003-8-28_2013.jpg     0.0
2        10   nm0652089_rm860657920_1992-3-10_2002.jpg     0.0
3        10  nm0004917_rm1493730304_1969-5-12_1979.jpg     0.0
4        10  nm1113550_rm1332711936_1996-4-14_2006.jpg     0.0
...     ...                                        ...     ...
9145     70                 475367_1941-08-03_2011.jpg     1.0
9146     70                 304085_1919-07-07_1989.jpg     1.0
9147     70  nm0001627_rm4164078592_1927-2-20_1997.jpg     1.0
9148     70  nm0000024_rm1715129344_1904-4-14_1974.jpg     1.0
9149     70  nm0000323_rm3114703104_1933-3-14_2003.jpg     1.0

[9150 rows x 3 columns]

In [66]:
# move 'full_path' column to the first position
full_path_col = df.pop('full_path')
df.insert(0, 'full_path', full_path_col)

In [67]:
df

                                      full_path  score  gender
0     nm1442940_rm3965098752_1996-10-3_2006.jpg     10     0.0
1     nm4832920_rm1781768448_2003-8-28_2013.jpg     10     0.0
2      nm0652089_rm860657920_1992-3-10_2002.jpg     10     0.0
3     nm0004917_rm1493730304_1969-5-12_1979.jpg     10     0.0
4     nm1113550_rm1332711936_1996-4-14_2006.jpg     10     0.0
...                                         ...    ...     ...
9145                 475367_1941-08-03_2011.jpg     70     1.0
9146                 304085_1919-07-07_1989.jpg     70     1.0
9147  nm0001627_rm4164078592_1927-2-20_1997.jpg     70     1.0
9148  nm0000024_rm1715129344_1904-4-14_1974.jpg     70     1.0
9149  nm0000323_rm3114703104_1933-3-14_2003.jpg     70     1.0

[9150 rows x 3 columns]

In [124]:
file_path = "../data/FaceAgeDF.pickle"

# Save the dictionary to the external file
with open(file_path, 'wb') as handle:
    pickle.dump(df, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [72]:
df_cl = pd.read_csv('../data/crowd_labels.csv')

In [73]:
df_cl

,left,right,label,performer
0,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/26147732_1991-07-22_2015.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0707728_rm4048061440_1935-1-2_1966.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0707728_rm4048061440_1935-1-2_1966.jpg,0
1,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000072_rm2497944320_1932-2-27_1985.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0025978_rm3962736128_1954-11-16_1999.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000072_rm2497944320_1932-2-27_1985.jpg,0
2,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0788370_rm2989144320_1971-4-11_1999.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0726180_rm2487589632_1981-1-1_2005.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0788370_rm2989144320_1971-4-11_1999.jpg,0
3,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0325390_rm3409478912_1951-10-19_1979.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/1094676_1944-12-08_2011.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/1094676_1944-12-08_2011.jpg,1
4,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/1780768_1927-01-22_1963.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000442_rm1571854336_1944-1-23_2005.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000442_rm1571854336_1944-1-23_2005.jpg,1
...,...,...,...,...
250244,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000943_rm2478151680_1968-1-13_1999.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000825_rm1298385920_1952-10-7_1962.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0000825_rm1298385920_1952-10-7_1962.jpg,3885
250245,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/26835279_1938-12-27_2004.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0771493_rm519611392_1955-5-27_2013.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/26835279_1938-12-27_2004.jpg,3885
250246,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/2723_1964-05-27_2007.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0858969_rm53517056_1990-1-30_2001.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/2723_1964-05-27_2007.jpg,4090
250247,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0177396_rm3601370112_1987-9-15_2010.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0005391_rm3942707712_1963-3-10_2015.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/nm0005391_rm3942707712_1963-3-10_2015.jpg,4090
250248,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/2275823_1961-09-12_2011.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/1523302_1956-03-03_2008.jpg,https://tlk.s3.yandex.net/annotation_tasks/IMDB-WIKI-SbS/2275823_1961-09-12_2011.jpg,4090

In [89]:
df_cl['left'] = df_cl['left'].apply(lambda x: x.split('/')[-1])
df_cl['right'] = df_cl['right'].apply(lambda x: x.split('/')[-1])
df_cl['label'] = df_cl['label'].apply(lambda x: x.split('/')[-1])

In [90]:
df_cl

,left,right,label,performer
0,26147732_1991-07-22_2015.jpg,nm0707728_rm4048061440_1935-1-2_1966.jpg,nm0707728_rm4048061440_1935-1-2_1966.jpg,0
1,nm0000072_rm2497944320_1932-2-27_1985.jpg,nm0025978_rm3962736128_1954-11-16_1999.jpg,nm0000072_rm2497944320_1932-2-27_1985.jpg,0
2,nm0788370_rm2989144320_1971-4-11_1999.jpg,nm0726180_rm2487589632_1981-1-1_2005.jpg,nm0788370_rm2989144320_1971-4-11_1999.jpg,0
3,nm0325390_rm3409478912_1951-10-19_1979.jpg,1094676_1944-12-08_2011.jpg,1094676_1944-12-08_2011.jpg,1
4,1780768_1927-01-22_1963.jpg,nm0000442_rm1571854336_1944-1-23_2005.jpg,nm0000442_rm1571854336_1944-1-23_2005.jpg,1
...,...,...,...,...
250244,nm0000943_rm2478151680_1968-1-13_1999.jpg,nm0000825_rm1298385920_1952-10-7_1962.jpg,nm0000825_rm1298385920_1952-10-7_1962.jpg,3885
250245,26835279_1938-12-27_2004.jpg,nm0771493_rm519611392_1955-5-27_2013.jpg,26835279_1938-12-27_2004.jpg,3885
250246,2723_1964-05-27_2007.jpg,nm0858969_rm53517056_1990-1-30_2001.jpg,2723_1964-05-27_2007.jpg,4090
250247,nm0177396_rm3601370112_1987-9-15_2010.jpg,nm0005391_rm3942707712_1963-3-10_2015.jpg,nm0005391_rm3942707712_1963-3-10_2015.jpg,4090
250248,2275823_1961-09-12_2011.jpg,1523302_1956-03-03_2008.jpg,2275823_1961-09-12_2011.jpg,4090

In [91]:
%%time
# replace the values in df2 with their corresponding index in df1
df_cl['left'] = df_cl['left'].apply(lambda x: df[df['full_path']==x].index[0])
df_cl['right'] = df_cl['right'].apply(lambda x: df[df['full_path']==x].index[0])
df_cl['label'] = df_cl['label'].apply(lambda x: df[df['full_path']==x].index[0])

# display the modified df
print(df_cl)

        left  right  label  performer
0       2229   3164   3164          0
1       6505   5302   6505          0
2       2822   2139   2822          0
3       2757   8593   8593          1
4       3991   7792   7792          1
...      ...    ...    ...        ...
250244  3209      7      7       3885
250245  8533   7276   8533       3885
250246  5025    228   5025       4090
250247  2059   6425   6425       4090
250248  6059   6362   6059       4090

[250249 rows x 4 columns]

In [92]:
df_cl.dtypes

left         int64
right        int64
label        int64
performer    int64
dtype: object

In [106]:
%%time
# create a dictionary of sets of tuples
revs_dict = {}

for index in range(len(df_cl)):
    performer = df_cl['performer'][index]
    label = df_cl['label'][index]
    left = df_cl['left'][index]
    right = df_cl['right'][index]
    
    if performer not in revs_dict:
        revs_dict[performer] = set()
        
    if label == left:
        revs_dict[performer].add((label, right))
    elif label == right:
        revs_dict[performer].add((label, left))
    else:
        revs_dict[performer].add((-1, left))

{(6656, 5719), (3025, 2716), (7598, 148), (4961, 1720), (6650, 565), (7688, 5530), (7246, 3769), (3630, 6905), (7408, 3273), (8580, 6630), (7615, 6076), (8842, 4259), (4983, 358), (5486, 4350), (7792, 3991), (5251, 1759), (8878, 1692), (4508, 1077), (4222, 4888), (8731, 5825), (3594, 1990), (8278, 8863), (3511, 1742), (5323, 4615), (7917, 7335), (8250, 2007), (4357, 2912), (4096, 5608), (3994, 3879), (8303, 1674), (4442, 3374), (7287, 4779), (8613, 6824), (4714, 2759), (6661, 1909), (5492, 2526), (5590, 3674), (8624, 7523), (245, 6049), (6189, 6807), (6943, 825), (7769, 3210), (6613, 4672), (7258, 6121), (6362, 837), (5310, 6234), (2520, 119), (1189, 881), (6712, 6066), (3119, 985), (6963, 3973), (8593, 2757), (7435, 6522), (4517, 11), (4524, 1612), (7116, 2452), (4378, 313), (6715, 4869), (7703, 8292), (7463, 769)}
CPU times: total: 14.3 s
Wall time: 16 s

In [129]:
# display the dictionary of sets of tuples
print(revs_dict[1])

{(6656, 5719), (3025, 2716), (7598, 148), (4961, 1720), (6650, 565), (7688, 5530), (7246, 3769), (3630, 6905), (7408, 3273), (8580, 6630), (7615, 6076), (8842, 4259), (4983, 358), (5486, 4350), (7792, 3991), (5251, 1759), (8878, 1692), (4508, 1077), (4222, 4888), (8731, 5825), (3594, 1990), (8278, 8863), (3511, 1742), (5323, 4615), (7917, 7335), (8250, 2007), (4357, 2912), (4096, 5608), (3994, 3879), (8303, 1674), (4442, 3374), (7287, 4779), (8613, 6824), (4714, 2759), (6661, 1909), (5492, 2526), (5590, 3674), (8624, 7523), (245, 6049), (6189, 6807), (6943, 825), (7769, 3210), (6613, 4672), (7258, 6121), (6362, 837), (5310, 6234), (2520, 119), (1189, 881), (6712, 6066), (3119, 985), (6963, 3973), (8593, 2757), (7435, 6522), (4517, 11), (4524, 1612), (7116, 2452), (4378, 313), (6715, 4869), (7703, 8292), (7463, 769)}

In [123]:
import pickle
# Specify the path to the external file
file_path = "../data/FaceAgePC.pickle"

# Save the dictionary to the external file
with open(file_path, 'wb') as handle:
    pickle.dump(revs_dict, handle, protocol=pickle.HIGHEST_PROTOCOL)

In [76]:
df_cl.iterrows()